<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnDemand</key>
	<false/>
	<key>Label</key>
	<string>com.brother.LOGINserver</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Printers/Brother/Utilities/Server/LOGINserver.app/Contents/MacOS/LOGINserver</string>
	</array>
</dict>
</plist>
